**/*.iml
**/*.soy.js
**/*.swp
**/*~
**/.DS_Store
**/.classpath
**/.ivy
**/.project
**/.sass-cache
**/.settings
**/bin
**/build
**/build_gradle
**/build_theme
**/classes
**/dist
**/liferay-theme.json
**/node_modules
**/out/**
**/reasonFile
**/src/main/resources-generated
**/soy.js
**/test-coverage
**/tmp
.gradle
.idea
.nb-gradle
artifacts
bundles
logs/*
modules/**/generated/**
modules/**/service.properties
modules/tests/functional-tests/SeleniumProperties/chromedriver
modules/tests/functional-tests/SeleniumProperties/chromedriver.exe
modules/tests/functional-tests/build/
modules/tests/functional-tests/reports/
plugins-sdk/**/classes
plugins-sdk/**/ivy.xml.MD5
plugins-sdk/**/liferay-hook.xml.processed
plugins-sdk/dependencies/**/*.jar
plugins-sdk/dist
plugins-sdk/lib
!configs/ci/tomcat-8.0.32/*